body {
    font-family: Arial, sans-serif;
    background-image: url(imagenes/imagen1.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    color: #333;
}

form {
   background-color: rgba(217, 247, 247, 0.185);
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 50px;
   text-align: center;
}

.container_registrarse {
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    background-color: transparent;
    border-radius: 5px;
    color: #bb0b0bbb;
}

.container { 
    width: 100%;
    margin: 20px auto;
    color: #fff;
}

h1 {
    color: #fff;
    text-align: center;
}

.lista_cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item_cursos {
    background-color: #ffffff4f;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}